{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "ignore": [
    "dist/**"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "swiper": "./dist/swiper"
        }
      }
    ]
  ]
}
